.header {
    text-align: center;
    font-family: calibri;
    color: red;
    font-size: 50px;
}

.header2 {
    text-align: center;
    font-family: calibri;
    font-size: 20px;
}

#name {
    text-align: center;
    font-family: calibri;
    font-size: 20px;
    color: red;
}

.word {
    text-align: center;
    font-family: calibri;
    margin: 20px 400px;
}